* {
  font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header-links {
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;    
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-image-placeholder {
    background-color: #808080;
    color: #F9FAF8;
}

h2 {
    color: #E5E7EB;
}

.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.quote-panel {
    background-color: #E5E7EB;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.attribution {
    color: #1F2937;
    font-weight: 900;
}

.cta-box {
    color: #E5E7EB;
    background-color: #3882F6;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

